body {
  padding: 0;
  margin: 0;
}

.container1 {
  background-color: rebeccapurple;
  color: black;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100px;
}

.container1 > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  flex: 1 100%;
}

.container2 {
  display: flex;
  background-color: greenyellow;
  margin-top: 20px;
  flex-direction: row;
}

.container2 .col {
  flex: 1 100%;
}

.container2 > .col > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
