body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: [header-start] 1fr [header-end content-start] 3fr [content-end footer-start] 1fr [footer-end];
  grid-template-columns: [sidebar-start] 1fr [sidebar-end main-start] 3fr [main-end];
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.container > * {
  padding: 10px;
}

.header {
  background: #8cc152;
  grid-column: sidebar-start / main-end;
}

.main {
  background: #f6bb42;
}

.sidebar {
  background: #e9573f;
}

.footer {
  background: #d770ad;
  grid-column: sidebar-start / main-end;
}
